* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: Inconsolata;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  overflow: hidden;
}

div#content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div#slide-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ccc;
}

div#progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 5px;
  background: #c3c3ec;
}

img {
  /* max-width: 100%; */
  /* max-height: 100%; */
  max-width: 60vw;
  max-height: 60vh;
  height: auto;
  width: auto;
}

code,
pre {
  background: #f2f2f2;
  padding: 10px;
}

pre > code {
  font-family: inconsolata;
  background: transparent;
  padding: 0;
}

#hello {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#hello > span {
  font-size: 1.5rem;
  color: #b99595;
}

.urlbox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 5px solid #b99595;
}

.urlbox > button,
.urlbox > input {
  border: none;
  font-family: Inconsolata;
  font-size: 2rem;
  padding: 10px;
}

.urlbox > input {
  outline: none;
  flex: 1;
}
.urlbox > button {
  background: #b99595;
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.urlbox > button:hover {
  background: #c99595;
}

table {
  border-collapse: collapse;
}
th {
  background: #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}
