body {
  margin: 0;
  padding: 0;
  font-family: Inconsolata;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#slide-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ccc;
}
